In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.datasets import load_digits

# Problem Statement

In [ ]:
from all independent variables find out the price predictions
independent variables=['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg']
dependent variables=['price']

# Data Gathering

In [254]:
df=pd.read_csv('autos_dataset.csv')
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [255]:
df.head().T

                             0            1            2      3      4
symboling                    3            3            1      2      2
normalized-losses            ?            ?            ?    164    164
make               alfa-romero  alfa-romero  alfa-romero   audi   audi
fuel-type                  gas          gas          gas    gas    gas
aspiration                 std          std          std    std    std
num-of-doors               two          two          two   four   four
body-style         convertible  convertible    hatchback  sedan  sedan
drive-wheels               rwd          rwd          rwd    fwd    4wd
engine-location          front        front        front  front  front
wheel-base                88.6         88.6         94.5   99.8   99.4
length                   168.8        168.8        171.2  176.6  176.6
width                     64.1         64.1         65.5   66.2   66.4
height                    48.8         48.8         52.4   54.3   54.3
curb-weight               2548         2548         2823   2337   2824
engine-type               dohc         dohc         ohcv    ohc    ohc
num-of-cylinders          four         four          six   four   five
engine-size                130          130          152    109    136
fuel-system               mpfi         mpfi         mpfi   mpfi   mpfi
bore                      3.47         3.47         2.68   3.19   3.19
stroke                    2.68         2.68         3.47    3.4    3.4
compression-ratio          9.0          9.0          9.0   10.0    8.0
horsepower                 111          111          154    102    115
peak-rpm                  5000         5000         5000   5500   5500
city-mpg                    21           21           19     24     18
highway-mpg                 27           27           26     30     22
price                    13495        16500        16500  13950  17450

# Exploratory Data Analysis

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [257]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [258]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [259]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

## 1.symboling

In [260]:
df['symboling']

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [261]:
df['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

## 2.normalized-losses

In [262]:
df['normalized-losses']

0        ?
1        ?
2        ?
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [263]:
df['normalized-losses'].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [264]:
df['normalized-losses'].replace({'?':np.nan},inplace=True)

In [265]:
df.replace({'?':np.nan},inplace=True)

In [266]:
df['normalized-losses'].unique()

array([nan, '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [267]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [269]:
df['normalized-losses']=df['normalized-losses'].astype('float')
df['normalized-losses']

0        NaN
1        NaN
2        NaN
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [270]:
df['normalized-losses'].mean()

122.0

In [271]:
df['normalized-losses'].median()

115.0

In [272]:
df['normalized-losses']=df['normalized-losses'].fillna(df['normalized-losses'].median())

In [273]:
df['normalized-losses']

0      115.0
1      115.0
2      115.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [274]:
df.rename({'normalized-losses':'normalized_losses'},axis=1,inplace=True)

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

In [276]:
df

,symboling,normalized_losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# 3.make

In [277]:
df['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [278]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [279]:
from sklearn.preprocessing import OneHotEncoder

hot_encode=OneHotEncoder(dtype='float')
df=hot_encode.fit_transform(df[['make']]).toarray()
df=pd.DataFrame(df,columns=hot_encode.categories_)
df

In [280]:
df

,symboling,normalized_losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [281]:
df=pd.get_dummies(df,columns=['make'])
df

,symboling,normalized_losses,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,make_nissan,make_peugot,make_plymouth,make_porsche,make_renault,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo
0,3,115.0,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
1,3,115.0,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
2,1,115.0,gas,std,two,hatchback,rwd,front,94.5,171.2,...,0,0,0,0,0,0,0,0,0,0
3,2,164.0,gas,std,four,sedan,fwd,front,99.8,176.6,...,0,0,0,0,0,0,0,0,0,0
4,2,164.0,gas,std,four,sedan,4wd,front,99.4,176.6,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,gas,std,four,sedan,rwd,front,109.1,188.8,...,0,0,0,0,0,0,0,0,0,1
201,-1,95.0,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0,0,0,0,0,0,0,0,0,1
202,-1,95.0,gas,std,four,sedan,rwd,front,109.1,188.8,...,0,0,0,0,0,0,0,0,0,1
203,-1,95.0,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,0,0,0,0,0,0,0,0,0,1
204,-1,95.0,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,0,0,0,0,0,0,0,0,0,1

## 4.fuel-type

In [282]:
df['fuel-type']

0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fuel-type, Length: 205, dtype: object

In [283]:
df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [284]:
df['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [285]:
df['fuel-type'].replace({'gas':0,'diesel':1},inplace=True)

In [286]:
df.rename({'fuel-type':'fuel_type'},axis=1,inplace=True)

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized_losses   205 non-null    float64
 2   fuel_type           205 non-null    int64
 3   aspiration          205 non-null    object
 4   num-of-doors        203 non-null    object
 5   body-style          205 non-null    object
 6   drive-wheels        205 non-null    object
 7   engine-location     205 non-null    object
 8   wheel-base          205 non-null    float64
 9   length              205 non-null    float64
 10  width               205 non-null    float64
 11  height              205 non-null    float64
 12  curb-weight         205 non-null    int64
 13  engine-type         205 non-null    object
 14  num-of-cylinders    205 non-null    object
 15  engine-size         205 non-null    int64
 16  fuel-system         205 non-null    object
 17  bore                201 non-null    object
 18  stroke              201 non-null    object
 19  compression-ratio   205 non-null    float64
 20  horsepower          203 non-null    object
 21  peak-rpm            203 non-null    object
 22  city-mpg            205 non-null    int64
 23  highway-mpg         205 non-null    int64
 24  price               201 non-null    object
 25  make_alfa-romero    205 non-null    uint8
 26  make_audi           205 non-null    uint8
 27  make_bmw            205 non-null    uint8
 28  make_chevrolet      205 non-null    uint8
 29  make_dodge          205 non-null    uint8
 30  make_honda          205 non-null    uint8
 31  make_isuzu          205 non-null    uint8
 32  make_jaguar         205 non-null    uint8
 33  make_mazda          205 non-null    uint8
 34  make_mercedes-benz  205 non-null    uint8
 35  make_mercury        205 non-null    uint8
 36  make_mitsubishi     205 non-null    uint8
 37  make_nissan         205 non-null    uint8
 38  make_peugot         205 non-null    uint8
 39  make_plymouth       205 non-null    uint8
 40  make_porsche        205 non-null    uint8
 41  make_renault        205 non-null    uint8
 42  make_saab           205 non-null    uint8
 43  make_subaru         205 non-null    uint8
 44  make_toyota         205 non-null    uint8
 45  make_volkswagen     205 non-null    uint8
 46  make_volvo          205 non-null    uint8
dtypes: float64(6), int64(6), object(13), uint8(22)
memory usage: 44.6+ KB

In [288]:
df['fuel_type'].value_counts()

0    185
1     20
Name: fuel_type, dtype: int64

## 5.aspiration

In [289]:
df['aspiration']

0        std
1        std
2        std
3        std
4        std
       ...
200      std
201    turbo
202      std
203    turbo
204    turbo
Name: aspiration, Length: 205, dtype: object

In [290]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [291]:
df['aspiration'].value_counts().to_dict()

{'std': 168, 'turbo': 37}

In [292]:
df['aspiration'].replace({'std':0,'turbo':1},inplace=True)
df['aspiration']

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    1
202    0
203    1
204    1
Name: aspiration, Length: 205, dtype: int64

## 5.num-of-doors

In [293]:
df['num-of-doors']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [294]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [295]:
df['num-of-doors'].replace({'two':2,'four':4},inplace=True)
df['num-of-doors']

0      2.0
1      2.0
2      2.0
3      4.0
4      4.0
      ...
200    4.0
201    4.0
202    4.0
203    4.0
204    4.0
Name: num-of-doors, Length: 205, dtype: float64

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized_losses   205 non-null    float64
 2   fuel_type           205 non-null    int64
 3   aspiration          205 non-null    int64
 4   num-of-doors        203 non-null    float64
 5   body-style          205 non-null    object
 6   drive-wheels        205 non-null    object
 7   engine-location     205 non-null    object
 8   wheel-base          205 non-null    float64
 9   length              205 non-null    float64
 10  width               205 non-null    float64
 11  height              205 non-null    float64
 12  curb-weight         205 non-null    int64
 13  engine-type         205 non-null    object
 14  num-of-cylinders    205 non-null    object
 15  engine-size         205 non-null    int64
 16  fuel-system         205 non-null    object
 17  bore                201 non-null    object
 18  stroke              201 non-null    object
 19  compression-ratio   205 non-null    float64
 20  horsepower          203 non-null    object
 21  peak-rpm            203 non-null    object
 22  city-mpg            205 non-null    int64
 23  highway-mpg         205 non-null    int64
 24  price               201 non-null    object
 25  make_alfa-romero    205 non-null    uint8
 26  make_audi           205 non-null    uint8
 27  make_bmw            205 non-null    uint8
 28  make_chevrolet      205 non-null    uint8
 29  make_dodge          205 non-null    uint8
 30  make_honda          205 non-null    uint8
 31  make_isuzu          205 non-null    uint8
 32  make_jaguar         205 non-null    uint8
 33  make_mazda          205 non-null    uint8
 34  make_mercedes-benz  205 non-null    uint8
 35  make_mercury        205 non-null    uint8
 36  make_mitsubishi     205 non-null    uint8
 37  make_nissan         205 non-null    uint8
 38  make_peugot         205 non-null    uint8
 39  make_plymouth       205 non-null    uint8
 40  make_porsche        205 non-null    uint8
 41  make_renault        205 non-null    uint8
 42  make_saab           205 non-null    uint8
 43  make_subaru         205 non-null    uint8
 44  make_toyota         205 non-null    uint8
 45  make_volkswagen     205 non-null    uint8
 46  make_volvo          205 non-null    uint8
dtypes: float64(7), int64(7), object(11), uint8(22)
memory usage: 44.6+ KB

In [297]:
df['num-of-doors'].isnull().sum()

2

In [298]:
df['num-of-doors'].fillna(df['num-of-doors'].median(),inplace=True)

In [299]:
df['num-of-doors'].isnull().sum()

0

In [300]:
df.rename({'num-of-doors':'num_of_doors'},axis=1,inplace=True)

In [301]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized_losses   205 non-null    float64
 2   fuel_type           205 non-null    int64
 3   aspiration          205 non-null    int64
 4   num_of_doors        205 non-null    float64
 5   body-style          205 non-null    object
 6   drive-wheels        205 non-null    object
 7   engine-location     205 non-null    object
 8   wheel-base          205 non-null    float64
 9   length              205 non-null    float64
 10  width               205 non-null    float64
 11  height              205 non-null    float64
 12  curb-weight         205 non-null    int64
 13  engine-type         205 non-null    object
 14  num-of-cylinders    205 non-null    object
 15  engine-size         205 non-null    int64
 16  fuel-system         205 non-null    object
 17  bore                201 non-null    object
 18  stroke              201 non-null    object
 19  compression-ratio   205 non-null    float64
 20  horsepower          203 non-null    object
 21  peak-rpm            203 non-null    object
 22  city-mpg            205 non-null    int64
 23  highway-mpg         205 non-null    int64
 24  price               201 non-null    object
 25  make_alfa-romero    205 non-null    uint8
 26  make_audi           205 non-null    uint8
 27  make_bmw            205 non-null    uint8
 28  make_chevrolet      205 non-null    uint8
 29  make_dodge          205 non-null    uint8
 30  make_honda          205 non-null    uint8
 31  make_isuzu          205 non-null    uint8
 32  make_jaguar         205 non-null    uint8
 33  make_mazda          205 non-null    uint8
 34  make_mercedes-benz  205 non-null    uint8
 35  make_mercury        205 non-null    uint8
 36  make_mitsubishi     205 non-null    uint8
 37  make_nissan         205 non-null    uint8
 38  make_peugot         205 non-null    uint8
 39  make_plymouth       205 non-null    uint8
 40  make_porsche        205 non-null    uint8
 41  make_renault        205 non-null    uint8
 42  make_saab           205 non-null    uint8
 43  make_subaru         205 non-null    uint8
 44  make_toyota         205 non-null    uint8
 45  make_volkswagen     205 non-null    uint8
 46  make_volvo          205 non-null    uint8
dtypes: float64(7), int64(7), object(11), uint8(22)
memory usage: 44.6+ KB

## 6.body-style

In [302]:
df['body-style']

0      convertible
1      convertible
2        hatchback
3            sedan
4            sedan
          ...
200          sedan
201          sedan
202          sedan
203          sedan
204          sedan
Name: body-style, Length: 205, dtype: object

In [303]:
df['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [304]:
df['body-style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

In [305]:
df=pd.get_dummies(df,columns=['body-style'])

In [306]:
df

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,drive-wheels,engine-location,wheel-base,length,width,...,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon
0,3,115.0,0,0,2.0,rwd,front,88.6,168.8,64.1,...,0,0,0,0,0,1,0,0,0,0
1,3,115.0,0,0,2.0,rwd,front,88.6,168.8,64.1,...,0,0,0,0,0,1,0,0,0,0
2,1,115.0,0,0,2.0,rwd,front,94.5,171.2,65.5,...,0,0,0,0,0,0,0,1,0,0
3,2,164.0,0,0,4.0,fwd,front,99.8,176.6,66.2,...,0,0,0,0,0,0,0,0,1,0
4,2,164.0,0,0,4.0,4wd,front,99.4,176.6,66.4,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,0,0,4.0,rwd,front,109.1,188.8,68.9,...,0,0,0,0,1,0,0,0,1,0
201,-1,95.0,0,1,4.0,rwd,front,109.1,188.8,68.8,...,0,0,0,0,1,0,0,0,1,0
202,-1,95.0,0,0,4.0,rwd,front,109.1,188.8,68.9,...,0,0,0,0,1,0,0,0,1,0
203,-1,95.0,1,1,4.0,rwd,front,109.1,188.8,68.9,...,0,0,0,0,1,0,0,0,1,0
204,-1,95.0,0,1,4.0,rwd,front,109.1,188.8,68.9,...,0,0,0,0,1,0,0,0,1,0

In [307]:
df.rename({'body-style':'body_style'},axis=1,inplace=True)

## 7.drive-wheels

In [308]:
df['drive-wheels']

0      rwd
1      rwd
2      rwd
3      fwd
4      4wd
      ...
200    rwd
201    rwd
202    rwd
203    rwd
204    rwd
Name: drive-wheels, Length: 205, dtype: object

In [309]:
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [310]:
df['drive-wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

In [311]:
df['drive-wheels'].replace({'fwd':0,'rwd':1,'4wd':2},inplace=True)

In [312]:
df.rename({'drive-wheels':'drive_wheels'},axis=1,inplace=True)

## 8.engine-location

In [313]:
df['engine-location']

0      front
1      front
2      front
3      front
4      front
       ...
200    front
201    front
202    front
203    front
204    front
Name: engine-location, Length: 205, dtype: object

In [314]:
df['engine-location'].unique()

array(['front', 'rear'], dtype=object)

In [315]:
df['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [316]:
df['engine-location'].replace({'front':0,'rear':1},inplace=True)

In [317]:
df['engine-location'].isnull().sum()

0

In [318]:
df.rename({'engine-location':'engine_location'},axis=1,inplace=True)

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel-base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb-weight             205 non-null    int64
 12  engine-type             205 non-null    object
 13  num-of-cylinders        205 non-null    object
 14  engine-size             205 non-null    int64
 15  fuel-system             205 non-null    object
 16  bore                    201 non-null    object
 17  stroke                  201 non-null    object
 18  compression-ratio       205 non-null    float64
 19  horsepower              203 non-null    object
 20  peak-rpm                203 non-null    object
 21  city-mpg                205 non-null    int64
 22  highway-mpg             205 non-null    int64
 23  price                   201 non-null    object
 24  make_alfa-romero        205 non-null    uint8
 25  make_audi               205 non-null    uint8
 26  make_bmw                205 non-null    uint8
 27  make_chevrolet          205 non-null    uint8
 28  make_dodge              205 non-null    uint8
 29  make_honda              205 non-null    uint8
 30  make_isuzu              205 non-null    uint8
 31  make_jaguar             205 non-null    uint8
 32  make_mazda              205 non-null    uint8
 33  make_mercedes-benz      205 non-null    uint8
 34  make_mercury            205 non-null    uint8
 35  make_mitsubishi         205 non-null    uint8
 36  make_nissan             205 non-null    uint8
 37  make_peugot             205 non-null    uint8
 38  make_plymouth           205 non-null    uint8
 39  make_porsche            205 non-null    uint8
 40  make_renault            205 non-null    uint8
 41  make_saab               205 non-null    uint8
 42  make_subaru             205 non-null    uint8
 43  make_toyota             205 non-null    uint8
 44  make_volkswagen         205 non-null    uint8
 45  make_volvo              205 non-null    uint8
 46  body-style_convertible  205 non-null    uint8
 47  body-style_hardtop      205 non-null    uint8
 48  body-style_hatchback    205 non-null    uint8
 49  body-style_sedan        205 non-null    uint8
 50  body-style_wagon        205 non-null    uint8
dtypes: float64(7), int64(9), object(8), uint8(27)
memory usage: 44.0+ KB

## 9.wheel-base

In [320]:
df['wheel-base']

0       88.6
1       88.6
2       94.5
3       99.8
4       99.4
       ...
200    109.1
201    109.1
202    109.1
203    109.1
204    109.1
Name: wheel-base, Length: 205, dtype: float64

In [321]:
df['wheel-base'].unique()

array([ 88.6,  94.5,  99.8,  99.4, 105.8,  99.5, 101.2, 103.5, 110. ,
        88.4,  93.7, 103.3,  95.9,  86.6,  96.5,  94.3,  96. , 113. ,
       102. ,  93.1,  95.3,  98.8, 104.9, 106.7, 115.6,  96.6, 120.9,
       112. , 102.7,  93. ,  96.3,  95.1,  97.2, 100.4,  91.3,  99.2,
       107.9, 114.2, 108. ,  89.5,  98.4,  96.1,  99.1,  93.3,  97. ,
        96.9,  95.7, 102.4, 102.9, 104.5,  97.3, 104.3, 109.1])

In [322]:
df['wheel-base'].isnull().count()

205

In [323]:
df.rename({'wheel-base':'wheel_base'},axis=1,inplace=True)

## 10.Length

In [324]:
df['length']

0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: length, Length: 205, dtype: float64

In [325]:
df['length'].unique()

array([168.8, 171.2, 176.6, 177.3, 192.7, 178.2, 176.8, 189. , 193.8,
       197. , 141.1, 155.9, 158.8, 157.3, 174.6, 173.2, 144.6, 150. ,
       163.4, 157.1, 167.5, 175.4, 169.1, 170.7, 172.6, 199.6, 191.7,
       159.1, 166.8, 169. , 177.8, 175. , 190.9, 187.5, 202.6, 180.3,
       208.1, 199.2, 178.4, 173. , 172.4, 165.3, 170.2, 165.6, 162.4,
       173.4, 181.7, 184.6, 178.5, 186.7, 198.9, 167.3, 168.9, 175.7,
       181.5, 186.6, 156.9, 157.9, 172. , 173.5, 173.6, 158.7, 169.7,
       166.3, 168.7, 176.2, 175.6, 183.5, 187.8, 171.7, 159.3, 165.7,
       180.2, 183.1, 188.8])

In [326]:
df['length'].isnull().sum()

0

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel_base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb-weight             205 non-null    int64
 12  engine-type             205 non-null    object
 13  num-of-cylinders        205 non-null    object
 14  engine-size             205 non-null    int64
 15  fuel-system             205 non-null    object
 16  bore                    201 non-null    object
 17  stroke                  201 non-null    object
 18  compression-ratio       205 non-null    float64
 19  horsepower              203 non-null    object
 20  peak-rpm                203 non-null    object
 21  city-mpg                205 non-null    int64
 22  highway-mpg             205 non-null    int64
 23  price                   201 non-null    object
 24  make_alfa-romero        205 non-null    uint8
 25  make_audi               205 non-null    uint8
 26  make_bmw                205 non-null    uint8
 27  make_chevrolet          205 non-null    uint8
 28  make_dodge              205 non-null    uint8
 29  make_honda              205 non-null    uint8
 30  make_isuzu              205 non-null    uint8
 31  make_jaguar             205 non-null    uint8
 32  make_mazda              205 non-null    uint8
 33  make_mercedes-benz      205 non-null    uint8
 34  make_mercury            205 non-null    uint8
 35  make_mitsubishi         205 non-null    uint8
 36  make_nissan             205 non-null    uint8
 37  make_peugot             205 non-null    uint8
 38  make_plymouth           205 non-null    uint8
 39  make_porsche            205 non-null    uint8
 40  make_renault            205 non-null    uint8
 41  make_saab               205 non-null    uint8
 42  make_subaru             205 non-null    uint8
 43  make_toyota             205 non-null    uint8
 44  make_volkswagen         205 non-null    uint8
 45  make_volvo              205 non-null    uint8
 46  body-style_convertible  205 non-null    uint8
 47  body-style_hardtop      205 non-null    uint8
 48  body-style_hatchback    205 non-null    uint8
 49  body-style_sedan        205 non-null    uint8
 50  body-style_wagon        205 non-null    uint8
dtypes: float64(7), int64(9), object(8), uint8(27)
memory usage: 44.0+ KB

## 11.curb-weight

In [328]:
df['curb-weight']

0      2548
1      2548
2      2823
3      2337
4      2824
       ...
200    2952
201    3049
202    3012
203    3217
204    3062
Name: curb-weight, Length: 205, dtype: int64

In [329]:
df['curb-weight'].isnull().sum()

0

In [330]:
df.rename({'curb-weight':'curb_weight'},axis=1,inplace=True)

## 12.engine-type

In [331]:
df['engine-type']

0      dohc
1      dohc
2      ohcv
3       ohc
4       ohc
       ...
200     ohc
201     ohc
202    ohcv
203     ohc
204     ohc
Name: engine-type, Length: 205, dtype: object

In [332]:
df['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [333]:
df['engine-type'].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine-type, dtype: int64

In [334]:
df=pd.get_dummies(df,columns=['engine-type'])

In [335]:
df

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,drive_wheels,engine_location,wheel_base,length,width,...,body-style_hatchback,body-style_sedan,body-style_wagon,engine-type_dohc,engine-type_dohcv,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,engine-type_rotor
0,3,115.0,0,0,2.0,1,0,88.6,168.8,64.1,...,0,0,0,1,0,0,0,0,0,0
1,3,115.0,0,0,2.0,1,0,88.6,168.8,64.1,...,0,0,0,1,0,0,0,0,0,0
2,1,115.0,0,0,2.0,1,0,94.5,171.2,65.5,...,1,0,0,0,0,0,0,0,1,0
3,2,164.0,0,0,4.0,0,0,99.8,176.6,66.2,...,0,1,0,0,0,0,1,0,0,0
4,2,164.0,0,0,4.0,2,0,99.4,176.6,66.4,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,0,0,4.0,1,0,109.1,188.8,68.9,...,0,1,0,0,0,0,1,0,0,0
201,-1,95.0,0,1,4.0,1,0,109.1,188.8,68.8,...,0,1,0,0,0,0,1,0,0,0
202,-1,95.0,0,0,4.0,1,0,109.1,188.8,68.9,...,0,1,0,0,0,0,0,0,1,0
203,-1,95.0,1,1,4.0,1,0,109.1,188.8,68.9,...,0,1,0,0,0,0,1,0,0,0
204,-1,95.0,0,1,4.0,1,0,109.1,188.8,68.9,...,0,1,0,0,0,0,1,0,0,0

In [336]:
df.rename({'engine-type':'engine_type'},axis=1,inplace=True)

In [337]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 57 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel_base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb_weight             205 non-null    int64
 12  num-of-cylinders        205 non-null    object
 13  engine-size             205 non-null    int64
 14  fuel-system             205 non-null    object
 15  bore                    201 non-null    object
 16  stroke                  201 non-null    object
 17  compression-ratio       205 non-null    float64
 18  horsepower              203 non-null    object
 19  peak-rpm                203 non-null    object
 20  city-mpg                205 non-null    int64
 21  highway-mpg             205 non-null    int64
 22  price                   201 non-null    object
 23  make_alfa-romero        205 non-null    uint8
 24  make_audi               205 non-null    uint8
 25  make_bmw                205 non-null    uint8
 26  make_chevrolet          205 non-null    uint8
 27  make_dodge              205 non-null    uint8
 28  make_honda              205 non-null    uint8
 29  make_isuzu              205 non-null    uint8
 30  make_jaguar             205 non-null    uint8
 31  make_mazda              205 non-null    uint8
 32  make_mercedes-benz      205 non-null    uint8
 33  make_mercury            205 non-null    uint8
 34  make_mitsubishi         205 non-null    uint8
 35  make_nissan             205 non-null    uint8
 36  make_peugot             205 non-null    uint8
 37  make_plymouth           205 non-null    uint8
 38  make_porsche            205 non-null    uint8
 39  make_renault            205 non-null    uint8
 40  make_saab               205 non-null    uint8
 41  make_subaru             205 non-null    uint8
 42  make_toyota             205 non-null    uint8
 43  make_volkswagen         205 non-null    uint8
 44  make_volvo              205 non-null    uint8
 45  body-style_convertible  205 non-null    uint8
 46  body-style_hardtop      205 non-null    uint8
 47  body-style_hatchback    205 non-null    uint8
 48  body-style_sedan        205 non-null    uint8
 49  body-style_wagon        205 non-null    uint8
 50  engine-type_dohc        205 non-null    uint8
 51  engine-type_dohcv       205 non-null    uint8
 52  engine-type_l           205 non-null    uint8
 53  engine-type_ohc         205 non-null    uint8
 54  engine-type_ohcf        205 non-null    uint8
 55  engine-type_ohcv        205 non-null    uint8
 56  engine-type_rotor       205 non-null    uint8
dtypes: float64(7), int64(9), object(7), uint8(34)
memory usage: 43.8+ KB

## 13.num-of-cylinders

In [338]:
df['num-of-cylinders']

0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: num-of-cylinders, Length: 205, dtype: object

In [339]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [340]:
df['num-of-cylinders'].replace({'four':4,'six':6,'five':5,'three':3,'twelve':12,'two':2,'eight':8},inplace=True)

In [341]:
df['num-of-cylinders'].value_counts()

4     159
6      24
5      11
8       5
2       4
3       1
12      1
Name: num-of-cylinders, dtype: int64

In [342]:
df['num-of-cylinders'].isnull().count()

205

In [343]:
df.rename({'num-of-cylinders':'num_of_cylinders'},axis=1,inplace=True)

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 57 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel_base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb_weight             205 non-null    int64
 12  num_of_cylinders        205 non-null    int64
 13  engine-size             205 non-null    int64
 14  fuel-system             205 non-null    object
 15  bore                    201 non-null    object
 16  stroke                  201 non-null    object
 17  compression-ratio       205 non-null    float64
 18  horsepower              203 non-null    object
 19  peak-rpm                203 non-null    object
 20  city-mpg                205 non-null    int64
 21  highway-mpg             205 non-null    int64
 22  price                   201 non-null    object
 23  make_alfa-romero        205 non-null    uint8
 24  make_audi               205 non-null    uint8
 25  make_bmw                205 non-null    uint8
 26  make_chevrolet          205 non-null    uint8
 27  make_dodge              205 non-null    uint8
 28  make_honda              205 non-null    uint8
 29  make_isuzu              205 non-null    uint8
 30  make_jaguar             205 non-null    uint8
 31  make_mazda              205 non-null    uint8
 32  make_mercedes-benz      205 non-null    uint8
 33  make_mercury            205 non-null    uint8
 34  make_mitsubishi         205 non-null    uint8
 35  make_nissan             205 non-null    uint8
 36  make_peugot             205 non-null    uint8
 37  make_plymouth           205 non-null    uint8
 38  make_porsche            205 non-null    uint8
 39  make_renault            205 non-null    uint8
 40  make_saab               205 non-null    uint8
 41  make_subaru             205 non-null    uint8
 42  make_toyota             205 non-null    uint8
 43  make_volkswagen         205 non-null    uint8
 44  make_volvo              205 non-null    uint8
 45  body-style_convertible  205 non-null    uint8
 46  body-style_hardtop      205 non-null    uint8
 47  body-style_hatchback    205 non-null    uint8
 48  body-style_sedan        205 non-null    uint8
 49  body-style_wagon        205 non-null    uint8
 50  engine-type_dohc        205 non-null    uint8
 51  engine-type_dohcv       205 non-null    uint8
 52  engine-type_l           205 non-null    uint8
 53  engine-type_ohc         205 non-null    uint8
 54  engine-type_ohcf        205 non-null    uint8
 55  engine-type_ohcv        205 non-null    uint8
 56  engine-type_rotor       205 non-null    uint8
dtypes: float64(7), int64(10), object(6), uint8(34)
memory usage: 43.8+ KB

## 14.engine-size

In [345]:
df['engine-size']

0      130
1      130
2      152
3      109
4      136
      ...
200    141
201    141
202    173
203    145
204    141
Name: engine-size, Length: 205, dtype: int64

In [346]:
df['engine-size'].unique()

array([130, 152, 109, 136, 131, 108, 164, 209,  61,  90,  98, 122, 156,
        92,  79, 110, 111, 119, 258, 326,  91,  70,  80, 140, 134, 183,
       234, 308, 304,  97, 103, 120, 181, 151, 194, 203, 132, 121, 146,
       171, 161, 141, 173, 145], dtype=int64)

In [347]:
df['engine-size'].isnull().sum()

0

In [348]:
df.rename({'engine-size':'engine_size'},axis=1,inplace=True)

In [349]:
df.columns

Index(['symboling', 'normalized_losses', 'fuel_type', 'aspiration',
       'num_of_doors', 'drive_wheels', 'engine_location', 'wheel_base',
       'length', 'width', 'height', 'curb_weight', 'num_of_cylinders',
       'engine_size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price',
       'make_alfa-romero', 'make_audi', 'make_bmw', 'make_chevrolet',
       'make_dodge', 'make_honda', 'make_isuzu', 'make_jaguar', 'make_mazda',
       'make_mercedes-benz', 'make_mercury', 'make_mitsubishi', 'make_nissan',
       'make_peugot', 'make_plymouth', 'make_porsche', 'make_renault',
       'make_saab', 'make_subaru', 'make_toyota', 'make_volkswagen',
       'make_volvo', 'body-style_convertible', 'body-style_hardtop',
       'body-style_hatchback', 'body-style_sedan', 'body-style_wagon',
       'engine-type_dohc', 'engine-type_dohcv', 'engine-type_l',
       'engine-type_ohc', 'engine-type_ohcf', 'engine-type_ohcv',
       'engine-type_rotor'],
      dtype='object')

## 15.fuel-system

In [350]:
df['fuel-system']

0      mpfi
1      mpfi
2      mpfi
3      mpfi
4      mpfi
       ...
200    mpfi
201    mpfi
202    mpfi
203     idi
204    mpfi
Name: fuel-system, Length: 205, dtype: object

In [351]:
df['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [352]:
df['fuel-system'].isnull().sum()

0

In [353]:
df=pd.get_dummies(df,columns=['fuel-system'])

In [354]:
df

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,drive_wheels,engine_location,wheel_base,length,width,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,115.0,0,0,2.0,1,0,88.6,168.8,64.1,...,0,0,0,0,0,0,0,1,0,0
1,3,115.0,0,0,2.0,1,0,88.6,168.8,64.1,...,0,0,0,0,0,0,0,1,0,0
2,1,115.0,0,0,2.0,1,0,94.5,171.2,65.5,...,1,0,0,0,0,0,0,1,0,0
3,2,164.0,0,0,4.0,0,0,99.8,176.6,66.2,...,0,0,0,0,0,0,0,1,0,0
4,2,164.0,0,0,4.0,2,0,99.4,176.6,66.4,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,0,0,4.0,1,0,109.1,188.8,68.9,...,0,0,0,0,0,0,0,1,0,0
201,-1,95.0,0,1,4.0,1,0,109.1,188.8,68.8,...,0,0,0,0,0,0,0,1,0,0
202,-1,95.0,0,0,4.0,1,0,109.1,188.8,68.9,...,1,0,0,0,0,0,0,1,0,0
203,-1,95.0,1,1,4.0,1,0,109.1,188.8,68.9,...,0,0,0,0,0,1,0,0,0,0
204,-1,95.0,0,1,4.0,1,0,109.1,188.8,68.9,...,0,0,0,0,0,0,0,1,0,0

In [355]:
df.rename({'fuel-system':'fuel_system'},axis=1,inplace=True)

## 16.bore

In [356]:
df['bore']

0      3.47
1      3.47
2      2.68
3      3.19
4      3.19
       ...
200    3.78
201    3.78
202    3.58
203    3.01
204    3.78
Name: bore, Length: 205, dtype: object

In [357]:
df['bore'].isnull().sum()

4

In [358]:
df['bore']=df['bore'].fillna(df['bore'].median()).astype(float)

## 17.stroke

In [359]:
df['stroke']

0      2.68
1      2.68
2      3.47
3       3.4
4       3.4
       ...
200    3.15
201    3.15
202    2.87
203     3.4
204    3.15
Name: stroke, Length: 205, dtype: object

In [360]:
df['stroke'].isnull().sum()

4

In [361]:
df['stroke']=df['stroke'].fillna(df['stroke'].median()).astype(float)

## 18.compression-ratio

In [362]:
df['compression-ratio']

0       9.0
1       9.0
2       9.0
3      10.0
4       8.0
       ...
200     9.5
201     8.7
202     8.8
203    23.0
204     9.5
Name: compression-ratio, Length: 205, dtype: float64

In [363]:
df['compression-ratio'].isnull().sum()

0

In [364]:
df['horsepower']

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: object

In [365]:
df['compression-ratio'].isnull().sum()

0

In [366]:
df.rename({'compression-ratio':'compression_ratio'},axis=1,inplace=True)

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 64 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel_base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb_weight             205 non-null    int64
 12  num_of_cylinders        205 non-null    int64
 13  engine_size             205 non-null    int64
 14  bore                    205 non-null    float64
 15  stroke                  205 non-null    float64
 16  compression_ratio       205 non-null    float64
 17  horsepower              203 non-null    object
 18  peak-rpm                203 non-null    object
 19  city-mpg                205 non-null    int64
 20  highway-mpg             205 non-null    int64
 21  price                   201 non-null    object
 22  make_alfa-romero        205 non-null    uint8
 23  make_audi               205 non-null    uint8
 24  make_bmw                205 non-null    uint8
 25  make_chevrolet          205 non-null    uint8
 26  make_dodge              205 non-null    uint8
 27  make_honda              205 non-null    uint8
 28  make_isuzu              205 non-null    uint8
 29  make_jaguar             205 non-null    uint8
 30  make_mazda              205 non-null    uint8
 31  make_mercedes-benz      205 non-null    uint8
 32  make_mercury            205 non-null    uint8
 33  make_mitsubishi         205 non-null    uint8
 34  make_nissan             205 non-null    uint8
 35  make_peugot             205 non-null    uint8
 36  make_plymouth           205 non-null    uint8
 37  make_porsche            205 non-null    uint8
 38  make_renault            205 non-null    uint8
 39  make_saab               205 non-null    uint8
 40  make_subaru             205 non-null    uint8
 41  make_toyota             205 non-null    uint8
 42  make_volkswagen         205 non-null    uint8
 43  make_volvo              205 non-null    uint8
 44  body-style_convertible  205 non-null    uint8
 45  body-style_hardtop      205 non-null    uint8
 46  body-style_hatchback    205 non-null    uint8
 47  body-style_sedan        205 non-null    uint8
 48  body-style_wagon        205 non-null    uint8
 49  engine-type_dohc        205 non-null    uint8
 50  engine-type_dohcv       205 non-null    uint8
 51  engine-type_l           205 non-null    uint8
 52  engine-type_ohc         205 non-null    uint8
 53  engine-type_ohcf        205 non-null    uint8
 54  engine-type_ohcv        205 non-null    uint8
 55  engine-type_rotor       205 non-null    uint8
 56  fuel-system_1bbl        205 non-null    uint8
 57  fuel-system_2bbl        205 non-null    uint8
 58  fuel-system_4bbl        205 non-null    uint8
 59  fuel-system_idi         205 non-null    uint8
 60  fuel-system_mfi         205 non-null    uint8
 61  fuel-system_mpfi        205 non-null    uint8
 62  fuel-system_spdi        205 non-null    uint8
 63  fuel-system_spfi        205 non-null    uint8
dtypes: float64(9), int64(10), object(3), uint8(42)
memory usage: 43.8+ KB

In [368]:
df.rename({'peak-rpm':'peak_rpm'},axis=1,inplace=True)
df.rename({'city-mpg':'city_mpg'},axis=1,inplace=True)
df.rename({'highway-mpg':'highway_mpg'},axis=1,inplace=True)

In [369]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median()).astype(float)
df['peak_rpm'] = df['peak_rpm'].fillna(df['peak_rpm'].median()).astype(float)
df['price'] = df['price'].fillna(df['price'].median()).astype(float)

In [370]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 64 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized_losses       205 non-null    float64
 2   fuel_type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num_of_doors            205 non-null    float64
 5   drive_wheels            205 non-null    int64
 6   engine_location         205 non-null    int64
 7   wheel_base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb_weight             205 non-null    int64
 12  num_of_cylinders        205 non-null    int64
 13  engine_size             205 non-null    int64
 14  bore                    205 non-null    float64
 15  stroke                  205 non-null    float64
 16  compression_ratio       205 non-null    float64
 17  horsepower              205 non-null    float64
 18  peak_rpm                205 non-null    float64
 19  city_mpg                205 non-null    int64
 20  highway_mpg             205 non-null    int64
 21  price                   205 non-null    float64
 22  make_alfa-romero        205 non-null    uint8
 23  make_audi               205 non-null    uint8
 24  make_bmw                205 non-null    uint8
 25  make_chevrolet          205 non-null    uint8
 26  make_dodge              205 non-null    uint8
 27  make_honda              205 non-null    uint8
 28  make_isuzu              205 non-null    uint8
 29  make_jaguar             205 non-null    uint8
 30  make_mazda              205 non-null    uint8
 31  make_mercedes-benz      205 non-null    uint8
 32  make_mercury            205 non-null    uint8
 33  make_mitsubishi         205 non-null    uint8
 34  make_nissan             205 non-null    uint8
 35  make_peugot             205 non-null    uint8
 36  make_plymouth           205 non-null    uint8
 37  make_porsche            205 non-null    uint8
 38  make_renault            205 non-null    uint8
 39  make_saab               205 non-null    uint8
 40  make_subaru             205 non-null    uint8
 41  make_toyota             205 non-null    uint8
 42  make_volkswagen         205 non-null    uint8
 43  make_volvo              205 non-null    uint8
 44  body-style_convertible  205 non-null    uint8
 45  body-style_hardtop      205 non-null    uint8
 46  body-style_hatchback    205 non-null    uint8
 47  body-style_sedan        205 non-null    uint8
 48  body-style_wagon        205 non-null    uint8
 49  engine-type_dohc        205 non-null    uint8
 50  engine-type_dohcv       205 non-null    uint8
 51  engine-type_l           205 non-null    uint8
 52  engine-type_ohc         205 non-null    uint8
 53  engine-type_ohcf        205 non-null    uint8
 54  engine-type_ohcv        205 non-null    uint8
 55  engine-type_rotor       205 non-null    uint8
 56  fuel-system_1bbl        205 non-null    uint8
 57  fuel-system_2bbl        205 non-null    uint8
 58  fuel-system_4bbl        205 non-null    uint8
 59  fuel-system_idi         205 non-null    uint8
 60  fuel-system_mfi         205 non-null    uint8
 61  fuel-system_mpfi        205 non-null    uint8
 62  fuel-system_spdi        205 non-null    uint8
 63  fuel-system_spfi        205 non-null    uint8
dtypes: float64(12), int64(10), uint8(42)
memory usage: 43.8 KB

In [371]:
df.isnull().sum()

symboling            0
normalized_losses    0
fuel_type            0
aspiration           0
num_of_doors         0
                    ..
fuel-system_idi      0
fuel-system_mfi      0
fuel-system_mpfi     0
fuel-system_spdi     0
fuel-system_spfi     0
Length: 64, dtype: int64

In [372]:
df.to_csv('autos_dataset_update.csv')