In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_boston

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor

# problem statement

In [ ]:
To predict the price of cars by using various features.

# data gathering

In [37]:
df=pd.read_csv('autos_dataset.csv')
df

     symboling normalized-losses         make fuel-type aspiration  ... horsepower peak-rpm city-mpg highway-mpg  price
0            3                 ?  alfa-romero       gas        std  ...        111     5000       21          27  13495
1            3                 ?  alfa-romero       gas        std  ...        111     5000       21          27  16500
2            1                 ?  alfa-romero       gas        std  ...        154     5000       19          26  16500
3            2               164         audi       gas        std  ...        102     5500       24          30  13950
4            2               164         audi       gas        std  ...        115     5500       18          22  17450
..         ...               ...          ...       ...        ...  ...        ...      ...      ...         ...    ...
200         -1                95        volvo       gas        std  ...        114     5400       23          28  16845
201         -1                95        volvo       gas      turbo  ...        160     5300       19          25  19045
202         -1                95        volvo       gas        std  ...        134     5500       18          23  21485
203         -1                95        volvo    diesel      turbo  ...        106     4800       26          27  22470
204         -1                95        volvo       gas      turbo  ...        114     5400       19          25  22625

[205 rows x 26 columns]

In [38]:
df.head().T

                             0            1            2      3      4
symboling                    3            3            1      2      2
normalized-losses            ?            ?            ?    164    164
make               alfa-romero  alfa-romero  alfa-romero   audi   audi
fuel-type                  gas          gas          gas    gas    gas
aspiration                 std          std          std    std    std
num-of-doors               two          two          two   four   four
body-style         convertible  convertible    hatchback  sedan  sedan
drive-wheels               rwd          rwd          rwd    fwd    4wd
engine-location          front        front        front  front  front
wheel-base                88.6         88.6         94.5   99.8   99.4
length                   168.8        168.8        171.2  176.6  176.6
width                     64.1         64.1         65.5   66.2   66.4
height                    48.8         48.8         52.4   54.3   54.3
curb-weight               2548         2548         2823   2337   2824
engine-type               dohc         dohc         ohcv    ohc    ohc
num-of-cylinders          four         four          six   four   five
engine-size                130          130          152    109    136
fuel-system               mpfi         mpfi         mpfi   mpfi   mpfi
bore                      3.47         3.47         2.68   3.19   3.19
stroke                    2.68         2.68         3.47    3.4    3.4
compression-ratio          9.0          9.0          9.0   10.0    8.0
horsepower                 111          111          154    102    115
peak-rpm                  5000         5000         5000   5500   5500
city-mpg                    21           21           19     24     18
highway-mpg                 27           27           26     30     22
price                    13495        16500        16500  13950  17450

# Exploratory data analysis

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [40]:
df.describe()

        symboling  wheel-base      length       width  ...  engine-size  compression-ratio    city-mpg  highway-mpg
count  205.000000  205.000000  205.000000  205.000000  ...   205.000000         205.000000  205.000000   205.000000
mean     0.834146   98.756585  174.049268   65.907805  ...   126.907317          10.142537   25.219512    30.751220
std      1.245307    6.021776   12.337289    2.145204  ...    41.642693           3.972040    6.542142     6.886443
min     -2.000000   86.600000  141.100000   60.300000  ...    61.000000           7.000000   13.000000    16.000000
25%      0.000000   94.500000  166.300000   64.100000  ...    97.000000           8.600000   19.000000    25.000000
50%      1.000000   97.000000  173.200000   65.500000  ...   120.000000           9.000000   24.000000    30.000000
75%      2.000000  102.400000  183.100000   66.900000  ...   141.000000           9.400000   30.000000    34.000000
max      3.000000  120.900000  208.100000   72.300000  ...   326.000000          23.000000   49.000000    54.000000

[8 rows x 10 columns]

In [41]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# Symboling

In [42]:
df['symboling']

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [43]:
df['symboling'].unique() # if there is null value its shows >> nall or ? or . or , or - like this it shows

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

# normalized-losses

In [44]:
df['normalized-losses']

0        ?
1        ?
2        ?
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [45]:
df['normalized-losses'].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [46]:
df['normalized-losses'].replace({'?':np.nan},inplace=True)

In [47]:
df['normalized-losses'].unique()

array([nan, '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [48]:
df.replace({'?':np.nan},inplace=True)

In [49]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [51]:
df['normalized-losses']=df['normalized-losses'].astype('float')

In [52]:
df['normalized-losses'].mean()

122.0

In [53]:
df['normalized-losses'].median()

115.0

In [55]:
df['normalized-losses']=df['normalized-losses'].fillna(df['normalized-losses'].median())
df['normalized-losses']

0      115.0
1      115.0
2      115.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

In [57]:
df

     symboling  normalized-losses         make fuel-type aspiration  ... horsepower peak-rpm city-mpg highway-mpg  price
0            3              115.0  alfa-romero       gas        std  ...        111     5000       21          27  13495
1            3              115.0  alfa-romero       gas        std  ...        111     5000       21          27  16500
2            1              115.0  alfa-romero       gas        std  ...        154     5000       19          26  16500
3            2              164.0         audi       gas        std  ...        102     5500       24          30  13950
4            2              164.0         audi       gas        std  ...        115     5500       18          22  17450
..         ...                ...          ...       ...        ...  ...        ...      ...      ...         ...    ...
200         -1               95.0        volvo       gas        std  ...        114     5400       23          28  16845
201         -1               95.0        volvo       gas      turbo  ...        160     5300       19          25  19045
202         -1               95.0        volvo       gas        std  ...        134     5500       18          23  21485
203         -1               95.0        volvo    diesel      turbo  ...        106     4800       26          27  22470
204         -1               95.0        volvo       gas      turbo  ...        114     5400       19          25  22625

[205 rows x 26 columns]

# 3.make

In [58]:
df['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [59]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [60]:
df['make'].nunique()

22

In [61]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# 4.fuel-type

In [63]:
df['fuel-type']

0         gas
1         gas
2         gas
3         gas
4         gas
        ...
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fuel-type, Length: 205, dtype: object

In [64]:
df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [65]:
df['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [67]:
df['fuel-type'].replace({'gas':0,'diesel':1},inplace=True)
df['fuel-type'].value_counts()

0    185
1     20
Name: fuel-type, dtype: int64

# 5.aspiration

In [68]:
df['aspiration']

0        std
1        std
2        std
3        std
4        std
       ...
200      std
201    turbo
202      std
203    turbo
204    turbo
Name: aspiration, Length: 205, dtype: object

In [69]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [70]:
df['aspiration'].value_counts().to_dict()

{'std': 168, 'turbo': 37}

In [71]:
df['aspiration'].replace({'std':0,'turbo':1},inplace=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    int64
 4   aspiration         205 non-null    int64
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(6), int64(7), object(13)
memory usage: 41.8+ KB

# num-of-doors

In [73]:
df['num-of-doors']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [74]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [75]:
df['num-of-doors'].replace({'two':2,'four':4},inplace=True)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    int64
 4   aspiration         205 non-null    int64
 5   num-of-doors       203 non-null    float64
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [78]:
df['num-of-doors'].fillna(df['num-of-doors'].median(),inplace=True)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    int64
 4   aspiration         205 non-null    int64
 5   num-of-doors       205 non-null    float64
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

# body-style

In [81]:
df['body-style']

0      convertible
1      convertible
2        hatchback
3            sedan
4            sedan
          ...
200          sedan
201          sedan
202          sedan
203          sedan
204          sedan
Name: body-style, Length: 205, dtype: object

In [82]:
df['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [84]:
df['body-style'].value_counts().to_dict()

{'sedan': 96, 'hatchback': 70, 'wagon': 25, 'hardtop': 8, 'convertible': 6}

In [85]:
df=pd.get_dummies(df,columns=['body-style'])
df

     symboling  normalized-losses         make  ...  body-style_hatchback  body-style_sedan  body-style_wagon
0            3              115.0  alfa-romero  ...                     0                 0                 0
1            3              115.0  alfa-romero  ...                     0                 0                 0
2            1              115.0  alfa-romero  ...                     1                 0                 0
3            2              164.0         audi  ...                     0                 1                 0
4            2              164.0         audi  ...                     0                 1                 0
..         ...                ...          ...  ...                   ...               ...               ...
200         -1               95.0        volvo  ...                     0                 1                 0
201         -1               95.0        volvo  ...                     0                 1                 0
202         -1               95.0        volvo  ...                     0                 1                 0
203         -1               95.0        volvo  ...                     0                 1                 0
204         -1               95.0        volvo  ...                     0                 1                 0

[205 rows x 30 columns]

# drive-wheels

In [86]:
df['drive-wheels'].value_counts().to_dict()

{'fwd': 120, 'rwd': 76, '4wd': 9}

In [87]:
df['drive-wheels'].replace({'fwd': 0, 'rwd': 1, '4wd': 2}, inplace=True)

# engine-location

In [88]:
df['engine-location'].value_counts().to_dict()

{'front': 202, 'rear': 3}

In [89]:
df['engine-location'].replace({'front': 1, 'rear': 0}, inplace=True)

# wheel-base

In [90]:
df['wheel-base']

0       88.6
1       88.6
2       94.5
3       99.8
4       99.4
       ...
200    109.1
201    109.1
202    109.1
203    109.1
204    109.1
Name: wheel-base, Length: 205, dtype: float64

# length

In [92]:
df['length']

0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: length, Length: 205, dtype: float64

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized-losses       205 non-null    float64
 2   make                    205 non-null    object
 3   fuel-type               205 non-null    int64
 4   aspiration              205 non-null    int64
 5   num-of-doors            205 non-null    float64
 6   drive-wheels            205 non-null    int64
 7   engine-location         205 non-null    int64
 8   wheel-base              205 non-null    float64
 9   length                  205 non-null    float64
 10  width                   205 non-null    float64
 11  height                  205 non-null    float64
 12  curb-weight             205 non-null    int64
 13  engine-type             205 non-null    object
 14  num-of-cylinders        205 non-null    object
 15  engine-size             205 non-null    int64
 16  fuel-system             205 non-null    object
 17  bore                    201 non-null    object
 18  stroke                  201 non-null    object
 19  compression-ratio       205 non-null    float64
 20  horsepower              203 non-null    object
 21  peak-rpm                203 non-null    object
 22  city-mpg                205 non-null    int64
 23  highway-mpg             205 non-null    int64
 24  price                   201 non-null    object
 25  body-style_convertible  205 non-null    uint8
 26  body-style_hardtop      205 non-null    uint8
 27  body-style_hatchback    205 non-null    uint8
 28  body-style_sedan        205 non-null    uint8
 29  body-style_wagon        205 non-null    uint8
dtypes: float64(7), int64(9), object(9), uint8(5)
memory usage: 41.2+ KB

# engine-type

In [94]:
df['engine-type'].value_counts().to_dict()

{'ohc': 148,
 'ohcf': 15,
 'ohcv': 13,
 'dohc': 12,
 'l': 12,
 'rotor': 4,
 'dohcv': 1}

In [95]:
df = pd.get_dummies(df, columns= ['engine-type'])
df

     symboling  normalized-losses         make  ...  engine-type_ohcf  engine-type_ohcv  engine-type_rotor
0            3              115.0  alfa-romero  ...                 0                 0                  0
1            3              115.0  alfa-romero  ...                 0                 0                  0
2            1              115.0  alfa-romero  ...                 0                 1                  0
3            2              164.0         audi  ...                 0                 0                  0
4            2              164.0         audi  ...                 0                 0                  0
..         ...                ...          ...  ...               ...               ...                ...
200         -1               95.0        volvo  ...                 0                 0                  0
201         -1               95.0        volvo  ...                 0                 0                  0
202         -1               95.0        volvo  ...                 0                 1                  0
203         -1               95.0        volvo  ...                 0                 0                  0
204         -1               95.0        volvo  ...                 0                 0                  0

[205 rows x 36 columns]

# num-of-cylinders

In [96]:
df['num-of-cylinders'].value_counts().to_dict()

{'four': 159,
 'six': 24,
 'five': 11,
 'eight': 5,
 'two': 4,
 'three': 1,
 'twelve': 1}

In [97]:
df['num-of-cylinders'].replace({'four': 4,'six': 6,'five': 5,'eight': 8,'two': 2,'twelve': 12,'three': 3}, inplace=True)

# fuel-system

In [98]:
df['fuel-system'].value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64

In [99]:
df = pd.get_dummies(df, columns=['fuel-system'])
df

     symboling  normalized-losses         make  ...  fuel-system_mpfi  fuel-system_spdi  fuel-system_spfi
0            3              115.0  alfa-romero  ...                 1                 0                 0
1            3              115.0  alfa-romero  ...                 1                 0                 0
2            1              115.0  alfa-romero  ...                 1                 0                 0
3            2              164.0         audi  ...                 1                 0                 0
4            2              164.0         audi  ...                 1                 0                 0
..         ...                ...          ...  ...               ...               ...               ...
200         -1               95.0        volvo  ...                 1                 0                 0
201         -1               95.0        volvo  ...                 1                 0                 0
202         -1               95.0        volvo  ...                 1                 0                 0
203         -1               95.0        volvo  ...                 0                 0                 0
204         -1               95.0        volvo  ...                 1                 0                 0

[205 rows x 43 columns]

# bore

In [100]:
df['bore'].value_counts()

3.62    23
3.19    20
3.15    15
3.03    12
2.97    12
3.46     9
3.78     8
3.31     8
3.43     8
3.27     7
2.91     7
3.54     6
3.05     6
3.58     6
3.39     6
3.01     5
3.7      5
3.35     4
3.17     3
3.59     3
3.74     3
3.33     2
3.24     2
3.94     2
3.47     2
3.8      2
3.63     2
3.5      2
3.13     2
2.68     1
2.99     1
3.08     1
3.61     1
2.92     1
3.6      1
2.54     1
3.34     1
3.76     1
Name: bore, dtype: int64

In [101]:
df.isnull().sum()

symboling                 0
normalized-losses         0
make                      0
fuel-type                 0
aspiration                0
num-of-doors              0
drive-wheels              0
engine-location           0
wheel-base                0
length                    0
width                     0
height                    0
curb-weight               0
num-of-cylinders          0
engine-size               0
bore                      4
stroke                    4
compression-ratio         0
horsepower                2
peak-rpm                  2
city-mpg                  0
highway-mpg               0
price                     4
body-style_convertible    0
body-style_hardtop        0
body-style_hatchback      0
body-style_sedan          0
body-style_wagon          0
engine-type_dohc          0
engine-type_dohcv         0
engine-type_l             0
engine-type_ohc           0
engine-type_ohcf          0
engine-type_ohcv          0
engine-type_rotor         0
fuel-system_1bbl          0
fuel-system_2bbl          0
fuel-system_4bbl          0
fuel-system_idi           0
fuel-system_mfi           0
fuel-system_mpfi          0
fuel-system_spdi          0
fuel-system_spfi          0
dtype: int64

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized-losses       205 non-null    float64
 2   make                    205 non-null    object
 3   fuel-type               205 non-null    int64
 4   aspiration              205 non-null    int64
 5   num-of-doors            205 non-null    float64
 6   drive-wheels            205 non-null    int64
 7   engine-location         205 non-null    int64
 8   wheel-base              205 non-null    float64
 9   length                  205 non-null    float64
 10  width                   205 non-null    float64
 11  height                  205 non-null    float64
 12  curb-weight             205 non-null    int64
 13  num-of-cylinders        205 non-null    int64
 14  engine-size             205 non-null    int64
 15  bore                    201 non-null    object
 16  stroke                  201 non-null    object
 17  compression-ratio       205 non-null    float64
 18  horsepower              203 non-null    object
 19  peak-rpm                203 non-null    object
 20  city-mpg                205 non-null    int64
 21  highway-mpg             205 non-null    int64
 22  price                   201 non-null    object
 23  body-style_convertible  205 non-null    uint8
 24  body-style_hardtop      205 non-null    uint8
 25  body-style_hatchback    205 non-null    uint8
 26  body-style_sedan        205 non-null    uint8
 27  body-style_wagon        205 non-null    uint8
 28  engine-type_dohc        205 non-null    uint8
 29  engine-type_dohcv       205 non-null    uint8
 30  engine-type_l           205 non-null    uint8
 31  engine-type_ohc         205 non-null    uint8
 32  engine-type_ohcf        205 non-null    uint8
 33  engine-type_ohcv        205 non-null    uint8
 34  engine-type_rotor       205 non-null    uint8
 35  fuel-system_1bbl        205 non-null    uint8
 36  fuel-system_2bbl        205 non-null    uint8
 37  fuel-system_4bbl        205 non-null    uint8
 38  fuel-system_idi         205 non-null    uint8
 39  fuel-system_mfi         205 non-null    uint8
 40  fuel-system_mpfi        205 non-null    uint8
 41  fuel-system_spdi        205 non-null    uint8
 42  fuel-system_spfi        205 non-null    uint8
dtypes: float64(7), int64(10), object(6), uint8(20)
memory usage: 41.0+ KB

In [103]:
df['bore'] = df['bore'].fillna(df['bore'].median()).astype(float)
df['stroke'] = df['stroke'].fillna(df['stroke'].median()).astype(float)
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median()).astype(float)
df['peak-rpm'] = df['peak-rpm'].fillna(df['peak-rpm'].median()).astype(float)
df['price'] = df['price'].fillna(df['price'].median()).astype(float)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized-losses       205 non-null    float64
 2   make                    205 non-null    object
 3   fuel-type               205 non-null    int64
 4   aspiration              205 non-null    int64
 5   num-of-doors            205 non-null    float64
 6   drive-wheels            205 non-null    int64
 7   engine-location         205 non-null    int64
 8   wheel-base              205 non-null    float64
 9   length                  205 non-null    float64
 10  width                   205 non-null    float64
 11  height                  205 non-null    float64
 12  curb-weight             205 non-null    int64
 13  num-of-cylinders        205 non-null    int64
 14  engine-size             205 non-null    int64
 15  bore                    205 non-null    float64
 16  stroke                  205 non-null    float64
 17  compression-ratio       205 non-null    float64
 18  horsepower              205 non-null    float64
 19  peak-rpm                205 non-null    float64
 20  city-mpg                205 non-null    int64
 21  highway-mpg             205 non-null    int64
 22  price                   205 non-null    float64
 23  body-style_convertible  205 non-null    uint8
 24  body-style_hardtop      205 non-null    uint8
 25  body-style_hatchback    205 non-null    uint8
 26  body-style_sedan        205 non-null    uint8
 27  body-style_wagon        205 non-null    uint8
 28  engine-type_dohc        205 non-null    uint8
 29  engine-type_dohcv       205 non-null    uint8
 30  engine-type_l           205 non-null    uint8
 31  engine-type_ohc         205 non-null    uint8
 32  engine-type_ohcf        205 non-null    uint8
 33  engine-type_ohcv        205 non-null    uint8
 34  engine-type_rotor       205 non-null    uint8
 35  fuel-system_1bbl        205 non-null    uint8
 36  fuel-system_2bbl        205 non-null    uint8
 37  fuel-system_4bbl        205 non-null    uint8
 38  fuel-system_idi         205 non-null    uint8
 39  fuel-system_mfi         205 non-null    uint8
 40  fuel-system_mpfi        205 non-null    uint8
 41  fuel-system_spdi        205 non-null    uint8
 42  fuel-system_spfi        205 non-null    uint8
dtypes: float64(12), int64(10), object(1), uint8(20)
memory usage: 41.0+ KB

# Train test aplit

In [105]:
df = df.select_dtypes(exclude=object)
df

     symboling  normalized-losses  fuel-type  ...  fuel-system_mpfi  fuel-system_spdi  fuel-system_spfi
0            3              115.0          0  ...                 1                 0                 0
1            3              115.0          0  ...                 1                 0                 0
2            1              115.0          0  ...                 1                 0                 0
3            2              164.0          0  ...                 1                 0                 0
4            2              164.0          0  ...                 1                 0                 0
..         ...                ...        ...  ...               ...               ...               ...
200         -1               95.0          0  ...                 1                 0                 0
201         -1               95.0          0  ...                 1                 0                 0
202         -1               95.0          0  ...                 1                 0                 0
203         -1               95.0          1  ...                 0                 0                 0
204         -1               95.0          0  ...                 1                 0                 0

[205 rows x 42 columns]

In [106]:
x = df.drop('price', axis=1)
y = df['price']

In [107]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2, random_state=1)

# model training

In [108]:
Model = LinearRegression()

In [109]:
Model.fit(x_train,y_train)

LinearRegression()

# model evaluation

In [110]:
# Testing Data Evaluation
y_pred = Model.predict(x_test)

In [111]:
y_pred[10:16]

array([18938.48333409, 18178.22510885, 15509.78808993,  8227.21493961,
       17892.7528515 , 13341.35419317])

In [112]:
y_test[10:16]

4      17450.0
172    17669.0
197    16515.0
38      9095.0
29     12964.0
170    11199.0
Name: price, dtype: float64

In [113]:
mse = mean_squared_error(y_test, y_pred)
print('MSE', mse)

rmse = np.sqrt(mse)
print('RMSE', rmse)

r2 = r2_score(y_test,y_pred)
print('R-Squred: ', r2)

MSE 15092751.584890336
RMSE 3884.9390709366776
R-Squred:  0.7244767410791166

In [114]:
# Training Data Evaluation

y_pred_train = Model.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print('MSE', mse)

rmse = np.sqrt(mse)
print('RMSE', rmse)

r2 = r2_score(y_train, y_pred_train)
print('R-Squred: ', r2)

MSE 4312542.8150482625
RMSE 2076.6662743561524
R-Squred:  0.9318000165859797

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized-losses       205 non-null    float64
 2   fuel-type               205 non-null    int64
 3   aspiration              205 non-null    int64
 4   num-of-doors            205 non-null    float64
 5   drive-wheels            205 non-null    int64
 6   engine-location         205 non-null    int64
 7   wheel-base              205 non-null    float64
 8   length                  205 non-null    float64
 9   width                   205 non-null    float64
 10  height                  205 non-null    float64
 11  curb-weight             205 non-null    int64
 12  num-of-cylinders        205 non-null    int64
 13  engine-size             205 non-null    int64
 14  bore                    205 non-null    float64
 15  stroke                  205 non-null    float64
 16  compression-ratio       205 non-null    float64
 17  horsepower              205 non-null    float64
 18  peak-rpm                205 non-null    float64
 19  city-mpg                205 non-null    int64
 20  highway-mpg             205 non-null    int64
 21  price                   205 non-null    float64
 22  body-style_convertible  205 non-null    uint8
 23  body-style_hardtop      205 non-null    uint8
 24  body-style_hatchback    205 non-null    uint8
 25  body-style_sedan        205 non-null    uint8
 26  body-style_wagon        205 non-null    uint8
 27  engine-type_dohc        205 non-null    uint8
 28  engine-type_dohcv       205 non-null    uint8
 29  engine-type_l           205 non-null    uint8
 30  engine-type_ohc         205 non-null    uint8
 31  engine-type_ohcf        205 non-null    uint8
 32  engine-type_ohcv        205 non-null    uint8
 33  engine-type_rotor       205 non-null    uint8
 34  fuel-system_1bbl        205 non-null    uint8
 35  fuel-system_2bbl        205 non-null    uint8
 36  fuel-system_4bbl        205 non-null    uint8
 37  fuel-system_idi         205 non-null    uint8
 38  fuel-system_mfi         205 non-null    uint8
 39  fuel-system_mpfi        205 non-null    uint8
 40  fuel-system_spdi        205 non-null    uint8
 41  fuel-system_spfi        205 non-null    uint8
dtypes: float64(12), int64(10), uint8(20)
memory usage: 39.4 KB