# Encoding

In [1]:
import numpy as np
import pandas as pd

Encoding comes under a data preprocessing. and bcz of datapreprocessing we import it from sklearn.preprocessing

We do Encoding bcz machine dont understand categorical data so with the help of encoding we do it numerical form.
-Encoding is necessary in each and every ML projects, because ML algorithm does understand the numbers.
-while building the model with the help of ML algorithm, data supposed to be in numerical form.

# Types of encoding

1.label Encoding
2.one hot encoding

categories:
1. If the categories are more than 5, we should prefer label encoding
2. If categories are less in number, then we can go with label encoding/one hot encoding.and when we dont know the importance of any column then we should go with one hot encoding

In [2]:
df=pd.DataFrame({'City':['pune','mumbai','delhi','latur','mumbai','pune','banglore']})
df

       City
0      pune
1    mumbai
2     delhi
3     latur
4    mumbai
5      pune
6  banglore

## Label Encoding

In [ ]:
'Pune':0, 'Mumbai':1,'Delhi':2,'latur':3,'banglore':4

## One Hot Encoding

### 1st method

with the help of OneHotEncoder

In [ ]:
City      Pune  Mumbai  Delhi   latur    Banglore
Pune       1      0       0      0          0
Mumbai     0      1       0      0          0
Delhi      0      0       1      0          0
latur      0      0       0      1          0
mumbai     0      1       0      0          0
pune       1      0       0      1          0
banglore   0      0       0      0          1

In [3]:
from sklearn.preprocessing import OneHotEncoder

1. fit() # training
2. fit_transform() # training >>>> fit() + transform()
3. transform() # training or testing

In [4]:
one_hot_encode=OneHotEncoder(dtype=int)
array=one_hot_encode.fit_transform(df[['City']]).toarray() # double square bracket bcz we are converting it into array in 2D form
df_city=pd.DataFrame(array,columns=one_hot_encode.categories_) # categories_ function gives unique values of city column
df_city

  banglore delhi latur mumbai pune
0        0     0     0      0    1
1        0     0     0      1    0
2        0     1     0      0    0
3        0     0     1      0    0
4        0     0     0      1    0
5        0     0     0      0    1
6        1     0     0      0    0

### 2nd method

with the help of get_dummies function

In [6]:
df1=pd.get_dummies(df,columns=['City'])
df1

   City_banglore  City_delhi  City_latur  City_mumbai  City_pune
0              0           0           0            0          1
1              0           0           0            1          0
2              0           1           0            0          0
3              0           0           1            0          0
4              0           0           0            1          0
5              0           0           0            0          1
6              1           0           0            0          0

# Handeling Missing Values

- In our data frame there might be missing values and we have to handle those missing values bcz if we do not handle missing       values it affects on our model and accuracy will decreses.and model predictions will be wrong.
- there may be like those specian characteristics _ < , ! @ # $ % ^ & * / ? | \ ` so we have handle this as well.
- we can handle those specialcharacteristics with the help of >> dataframe_name.replace({'?':np.nan},inplace=True) like that      for every characterists we can change those characteristics into null value.
- now we can replace missing values with mean or median or mode >>                   dataframe_name['column_name']=dataframe_name['column_name'].fillna(dataframe_name['column_name'].median()/mode())

- Also when our values are all integer or float then also showing dataype as object then do >> dataframe_name[dataframe_name]=       dataframe_name[dataframe_name].astype('float')