In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from sklearn.datasets import load_iris

In [2]:
iris=load_iris()
iris_df=pd.DataFrame(iris['data'],columns=iris['feature_names'])
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
target_df=pd.DataFrame(data=iris.target,columns=['species'])
target_df

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [4]:
def converter(specie):
    if specie==0:
        return 'setosa'
    elif specie==1:
        return 'versicolor'
    elif specie ==2:
        return 'verginica'
    
target_df['species']=target_df['species'].apply(converter)
target_df.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [5]:
df=pd.concat([iris_df,target_df],axis=1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,verginica
146,6.3,2.5,5.0,1.9,verginica
147,6.5,3.0,5.2,2.0,verginica
148,6.2,3.4,5.4,2.3,verginica
149,5.9,3.0,5.1,1.8,verginica

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,verginica
146,6.3,2.5,5.0,1.9,verginica
147,6.5,3.0,5.2,2.0,verginica
148,6.2,3.4,5.4,2.3,verginica
149,5.9,3.0,5.1,1.8,verginica

In [7]:
x=df.drop('species',axis=1)
y=df['species']

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [9]:
iris_model=LogisticRegression()

In [10]:
iris_model.fit(x_train,y_train)

C:\Users\Admin\AKSHAY\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
y_pred=iris_model.predict(x_test)

In [12]:
accuracy_score(y_test,y_pred)

0.9666666666666667

In [20]:
x_test.head(1)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
14                5.8               4.0                1.2               0.2

In [22]:
iris_df.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

In [16]:
import pickle

In [17]:
pickle.dump(iris_model,open('iris_model.pickle','wb'))

In [18]:
def predict_species(SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm):
    x=np.zeros(4)
    x[0]=SepalLengthCm
    x[1]=SepalWidthCm
    x[2]=PetalLengthCm
    x[3]=PetalWidthCm
    species=iris_model.predict([x])[0]
    return species

In [21]:
predict_species(5.8,4.0,1.2,0.2)

C:\Users\Admin\AKSHAY\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'setosa'

In [23]:
predict_species(5.1,3.5,1.4,0.2)

C:\Users\Admin\AKSHAY\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'setosa'

###### Optional either downward step we can use

In [26]:
df.tail(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
149,5.9,3.0,5.1,1.8,verginica

In [29]:
SepalLengthCm  =  5.9
SepalWidthCm   =  3.0
PetalLengthCm  =  5.1
PetalWidthCm   =  1.8

ts_array=np.array([[SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm]]) # we are considering data frame we are making
            # model on dataframe so nature of dataframe is 2-dimentional so we have also make array in 2-dimentional so has 
            # taken 2 square brackets.
ts_array

def predict_species(ts_array):
    species=iris_model.predict(ts_array)[0]
    return species

In [30]:
predict_species(ts_array)

C:\Users\Admin\AKSHAY\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'verginica'